@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

/* Variables */
:root {
  --primary: #ffaa9a;
  --secondary: #c13b22;
  --light: #f9f9f9;
  --dark: #151515;
  --cover: #efe8e1;
}

/* Styles for modals */
@import '@reach/dialog/styles.css';

/* Clear some pre-defined modal's styles */
[data-reach-dialog-content] {
  padding: 0;
}

@media screen and (max-width: 768px) {
  [data-reach-dialog-content] {
    width: 94%;
    margin: 5% auto;
  }
}
